$break-xs: 0px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

$white:       #FFFFFF;
$black-cyan:  #234649;
$dark-cyan:   #3C787E;

// Resize all title
h1 {
  font-size: 2.25em
}
h2 {
  font-size: 1.875em
}
h3 {
  font-size: 1.5em
}
h4 {
  font-size: 1.25em
}
h5 {
  font-size: 1.125em
}
h6 {
  font-size: 1em
}
