// ---------------------------
//  STYLE write BUNLET Damien
// ---------------------------

// Configuration

@import "reset";
@import "variables";

// Layout & components

@import "grid";
@import "fonts";

body, html {
  font-family: 'Segoe UI', sans-serif !important;
  height: 100%;
  letter-spacing: 0.1em;
}

.container {
  height: 100%;
  .row {
    height: 100%;
    .leftside {
      padding: 0 !important;
      color: $white;
      background-color: $black-cyan;
      background-image: linear-gradient(to bottom right, $black-cyan, $dark-cyan);
      .header {
        height: 160px;
        font-size: 32px;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;

        span {
          strong {
            font-weight: 800;
          }
        }
      }

      .navigation {
        height: calc(100% - 320px);

        span {
          margin: 0 16px;
          display: block;
          text-transform: uppercase;
          font-size: 16px;
          line-height: 80px;
        }

        .menu, .account {
          display: flex;
          flex-direction: column;
          a {
            width: calc(100% - 32px);
            height: 40px;
            padding-left: 32px;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $white;
            text-decoration: none;
            line-height: 24px;

            span {
              text-transform: none;
              line-height: normal;
            }

            i {
              margin-right: 16px;
            }

            &:hover, &.active {
              color: $black-cyan;
              background-color: $white;
            }
          }
        }
      }

      .footer {
        height: 160px;
      }
    }
  }
}
