<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>

    <div class="container">
      <div class="row">
        <!-- Left panel with Header, Menu, and Footer-->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-2 leftside">
          <div class="header">
            <span><strong>ran</strong>system&trade;</span>
          </div>

          <div class="navigation">
            <span>menu</span>
            <div class="menu">
              <a href="/dashboard" class="active"><i class="material-icons">widgets</i><span>Dashboard</span></a>
              <a href="/domotic"><i class="material-icons">home</i><span>Domotic</span></a>
              <a href="/storage-management"><i class="material-icons">dns</i><span>Storage Management</span></a>
              <a href="/file-management"><i class="material-icons">folder</i><span>File Management</span></a>
              <a href="/message"><i class="material-icons">chat_bubble</i><span>Message</span></a>
              <a href="/email"><i class="material-icons">email</i><span>Email</span></a>
            </div>
            <span>account</span>
            <div class="account">
              <a href="/settings"><i class="material-icons">settings</i><span>Settings</span></a>
              <a href="/logout"><i class="material-icons">power_settings_new</i><span>Logout</span></a>
            </div>
          </div>

          <div class="footer">

          </div>
        </div>

        <!-- Main content of the page -->
        <div class="col-xs col-sm col-md col-lg content">

        </div>

        <!-- Right panel with Last activity field -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 rightside">

        </div>
      </div>
    </div>

    <script type="text/javascript">
      function Search() {
        // Declare variables
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('search');
        filter = input.value.toUpperCase();
        ul = document.getElementById("components-list");
        li = ul.getElementsByTagName('li');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
          a = li[i].getElementsByTagName("a")[0];
          txtValue = a.textContent || a.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
          li[i].style.display = "none";
          }
        }
      }
    </script>

  </body>
</html>
